body{
	font-family: Verdana;
	background-image: url("parallaxImg.jpg");
	color: #FF5E5E;
	background-position: center;
	background-attachment: fixed;
	/*background-size: cover;*/
}

h1{
	text-align: center;
	font-size: 950%;
	padding-bottom: 25%;
}

h3{
	font-size: 30px;
	text-align: left;
	padding-bottom: 150px;
	text-decoration: none;
}

.header{
	color: #FF5E5E;
	/*30px*/
	font-size: 200%;
	font-family: "Century Gothic", "Times Roman", sans-serif;
	text-align: left;
	vertical-align: top;
}

a{
	text-decoration: none;
}

.game1 { 
    	color: FF5E5E;
	font-family: Verdana;
	text-decoration: none;
	
	
    	background-image: url("tanksImg.JPG");
	background-position: center;
    	height: 600px; 
	width: 600px;
	
}
